#addrZone{
  width: 100%;  
  color:#828282;
  background-color: #e8e8e8;                  
}
.addr{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;     
  font-size:14px;
  overflow: hidden;
}
.addrinfo{

  float: left;
  display:inline;
}