#sliderZone{
  position: relative;
  width: 100% ;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.slider_panel{
  /* width: 100%; */
  display: flex;
  position: relative;
  left:0;  /*좌표변경으로 스라이딩 표현 */
  transition: left 0.5s ease; 
}
/* .slider_panel>li */
.slider_image{
  min-width: 100%;
}
.slider_image img{
  width: 100%;
  display: block;
}

/* 슬라이더 컨트롤 */
#sub_photo_bg{
  background-color: aqua;
}
.control_panel{
  position: absolute;
  bottom:10px;
  left:50%;
  display: flex;
  gap:5px;
  transform: translateX(-50%);
}
.control_btn{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.control_btn.active{
  background-color: red;
}
/* 좌우버튼 */
.direct_btn{
  position: absolute;
  top:50%;
  width: 100%;
  display: flex;
  transform:translateY(-50%);
  justify-content:space-between;
}
.direct_btn img{ cursor: pointer;}
